# ======================
# Java / Spring Boot
# ======================
target/
*.log
.env

# IntelliJ
.idea/
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Misc
# ======================
coverage/
.cache/